@import url('https://fonts.cdnfonts.com/css/plack-the-hanet');
@import url('https://fonts.cdnfonts.com/css/komika-text-kaps');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    width: 100%;
    min-height: 100vh;
    background-image: url(./img/marek-piwnicki-U6WvLJU0l6o-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container{
    width: 100%;
    max-width: 550px;
    height: 650px;
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, 0.178);
    border-radius: 20px;
    box-shadow: 2px 2px 40px rgba(255, 255, 255, 0.247);
    
  
}
h1{
    font-size: 24pt;
    text-align: center;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
     color: rgb(255, 255, 255);                                           
    
                                                
}
form{
    display: flex;
    flex-direction: column;
}
label{
    font-size: 18pt;
    margin-top: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    
                                                

}
input{
    width: 300px;
    height: 30px;
    margin-left: 120px;
    border-radius: 20px;
    border: none;
    font-size: 14pt;
    padding-left: 10px;
}
button{
    width: 200px;
    height: 40px;
    margin-left: 170px;
    font-size: 18pt;
    border-radius: 20px;
    margin-bottom: 20px;
    border: none;
    background-color:#CB904D;
    box-shadow: 2px 2px 20px rgb(55, 80, 62);
    color: rgb(0, 0, 0);
    &:hover{
        transform: scale(1.2);
        color: white;
    
    }
}


#msg{
    border: 1px solid rgba(245, 245, 245, 0.349);
    width: 350px;
    height: 200px;
    margin-left: 95px;
    margin-top: 30px;
    border-radius: 20px;
    font-size: 20pt;
    text-align: center;
    padding-top: 20px;
    background-color: rgba(255, 255, 255, 0.116);
}
 
